streamlit
gspread
oauth2client
requests
PyMuPDF
qrcode
Pillow
matplotlib
google-auth
google-auth-oauthlib
google-api-python-client
pycryptodome

-e git+https://github.com/ultrafunkamsterdam/mega.py.git#egg=mega
